
.hi {
  padding: 50px;
  margin-top: 20px;
  position: relative;
}
.hi h2 {
  font-style: italic;
  font-size: 100px;
  margin-top: 0;
  margin-left: 10px;
  font-weight: 600;
  letter-spacing: -1px;
  margin-bottom: 30px;
  line-height: 1em;
}
.hi h1 {
  font-size: 190px;
  font-style: italic;
  font-weight: 800;
  margin-top: 0;
  letter-spacing: -3px;
  margin-bottom: 170px;
}

.hi p {
  font-style: italic;
  text-align: right;
  font-size: 28px;
}
@keyframes animate-rotate {
  from{
      transform: rotate(0deg);
  }
  to{
      transform: rotate(360deg);
  }
}
#flower1 {
  width: 8%;
  position: absolute;
  top: -30px;
  left: 140px;
  animation:  animate-rotate 15s infinite linear;
}

#star {
  width: 9%;
  position: absolute;
  bottom: 220px;
  right: 140px;
  animation:  animate-rotate 30s infinite linear;
}
.myself {
  position: relative;
}
.myself h2 {
  text-align: center;
  font-style: italic;
  font-weight: 600;
  font-size: 135px;
  line-height: 1em;
  margin-bottom: 100px;
  margin-top: 160px;
}
.myself p {
  text-align: center;
  font-weight: 700;
  line-height: 2em;
  margin-bottom: 300px;
}
#flower2 {
  width: 8%;
  position: absolute;
  bottom: -150px;
  right: 500px;
  animation:  animate-rotate 15s infinite linear;
}

.marquee {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  font-style: italic;
  font-size: 150px;
  width: 100%;
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 30s linear infinite;
}

.marquee2 span {
  animation-delay: 15s;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

/* .skills h2 {
  font-size: 150px;
  font-style: italic;
  font-weight: 400;
  overflow: hidden;
  white-space: nowrap;
  animation: animation-reel 10s infinite linear;
  width: fit-content;
} */
/* @keyframes animation-reel {
  from{
      transform: translateX(0%);
  }
  to{
      transform: translateX(-100%);
  }
} */
.boxes {
  padding-top: 260px;
  padding: 260px 50px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.box {
  width: 380px;
  height: 180px;
  background-color: #000;
  border-radius: 5px;
  padding: 30px 20px;
  box-sizing: border-box;
  color: white;
  margin: 15px;
  border: 1px solid transparent;
  position: relative;
  /* transition: color .8s cubic-bezier(.16, 1, .3 ,1); */
  transition: all .8s cubic-bezier(.16, 1, .3 ,1);
}
.box h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 30px;
}
.box:hover {
  /* transition: background-color 1s cubic-bezier(.16, 1, .3 ,1); */
  color: #161616;
  background-color: #f0f0f0;
  border: 1px solid #161616;
}
/* .line {
  border-bottom: 1px solid #fff;
  width: 25px;
  position: absolute;
  bottom: 30px;
  left: 20px;
} */
.contact {
  position: relative;
  overflow: hidden;
  padding-bottom: 220px;
  box-sizing: content-box;
}
.dotted {
  border-bottom: 1px dashed grey;
  width: 80%;
  margin: 40px auto;
}
.contact h2 {
  font-size: 140px;
  text-align: center;
  z-index: 1;
  position: relative;
  margin-bottom: 40px;
}
.big-flower, .big-flower-left, .big-flower-right {
  animation:  animate-rotate 15s infinite linear;
}
.middle, .left, .right {
  width: 674px;
  height: 674px;
  overflow: hidden;
}
.middle, .left {
  position: absolute;
  width: 40%;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.left {
  left: 0;
}
.right {
  position: absolute;
  width: 40%;
  top: 20px;
  right: 0;
  transform: translateX(50%);
}
/* .big-flower, .big-flower-left {
  position: absolute;
  width: 40%;
  top: 20px;
  left: 50%;
  transform: translateX(-50%)
}
.big-flower-left {
  left: 0;
}
.big-flower-right {
  position: absolute;
  width: 40%;
  top: 20px;
  right: 0;
  transform: translateX(50%)
} */
.links {
  position: relative;
  z-index: 1;
  width: 55%;
  margin: 0 auto;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
}
.links div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottom h3 {
  margin: 0;
}
.links h3 {
  font-style: italic;
  font-size: 40px;
  margin-right: 30px;
}
.links a {
  color: #000;
  font-size: 30px;
  font-weight: bold;
  margin-left: 20px;
}
@media screen and (max-width: 1330px) {
  .hi h1 {
    font-size: 150px;
  }
  .marquee {
    font-size: 80px;
  }
  .contact {
    padding-bottom: 180px;
  }
  .contact h2 {
    font-size: 100px;
  }
}

@media screen and (max-width: 640px) {
  .hi h1 {
    font-size: 50px;
    margin-bottom: 10px;
  }
  .hi h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .hi p {
    font-size: 16px;
  }
  #flower1 {
    top: 20px;
    left: 85px;
  }
  #star {
    bottom: 101px;
    right: 48px;
  }
  .myself h2 {
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .myself p {
    font-size: 12px;
    padding: 0 50px;
    margin-bottom: 60px;
  }
  .marquee {
    font-size: 40px;
  }
  .boxes {
    padding-top: 80px;
  }
  .contact h2 {
    font-size: 40px;
  }
  .links h3 {
    font-size: 20px;
  }
  .links a {
    font-size: 16px;
  }
}